body {
    color: black;
    background-color: darkgray;
    }
h1 {
    padding-bottom: 80px;
}
h2 {
    padding-bottom: 30px;
}
p {
    padding-bottom: 20px;
}
.container {
    width: 500px;
    clear: both;
}